# Byte-compiled files
__pycache__/
.pytest_cache/
*.py[cod]

# SQLite database files
db.sqlite3
db.sqlite3-journal

# Virtual environment
*.venv/
venv/
env/

# IDE-specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db